<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>vvf</display-name>
  <servlet>
        <servlet-name>ws</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
             <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>vvfriva.webservice</param-value>
        </init-param>
        
        <init-param>
   			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
	   		<param-value>true</param-value>
		</init-param>
		<!--<init-param>
    		<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
    		<param-value>vvfriva.webservice.LoginFilter</param-value>
		</init-param>!-->
        <load-on-startup>1</load-on-startup>
        
        
    </servlet>
    <servlet-mapping>
        <servlet-name>ws</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>
    
  

	<listener>
	    <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>
	
	<filter>
	  <filter-name>ShiroFilter</filter-name>
	  <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
	</filter>
	
	<filter-mapping>
	  <filter-name>ShiroFilter</filter-name>
	  <url-pattern>/*</url-pattern>
	  <dispatcher>REQUEST</dispatcher>
	  <dispatcher>FORWARD</dispatcher>
	  <dispatcher>INCLUDE</dispatcher>
	  <dispatcher>ERROR</dispatcher>
	</filter-mapping>
	 
    
</web-app>